/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "BuranUSSR";

  src: url("./fonts/BuranUSSR.svg") format("svg"), /* Legacy iOS */
    url("./fonts/BuranUSSR.woff") format("woff"), /* Modern Browsers */
    url("./fonts/BuranUSSR.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
