* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#banner {
    display: flex;
    flex-wrap: wrap background: rgb(160, 63, 5);
}

#hero {
    background-image: url(imgs/large/heroimg.png);
    width: 100vw;
    height: 550px;
    background-size: cover;
    max-width: none;
    background-position: center;
    position: relative;
}

#company {
    font-family: 'Bungee', cursive;
    color: #f2f2f2;
    letter-spacing: 4px;
    font-size: 25px;
    position: absolute;
    left: 5px;
}

nav {
    position: absolute;
    top: 500px;
    padding: 1px;
    background-color: #f2f2f2;
}

nav button {
    background-color: transparent;
    border: none;
    padding: 15px 35px;
    color: coral;
    font-size: 1em;
    text-transform: uppercase;
}

nav button:hover {
    background-color: coral;
    color: #f2f2f2;
}

.valgt {
    background-color: coral;
    color: #f2f2f2;
}
